.container {
    position: relative;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    text-align: center;
    border: 1pt solid rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-in-out;
}

.cell:focus {
    outline: none;
    border: 1pt solid rgba(0, 0, 0, 0.2);
    background-color: rgb(118, 212, 221);
}

.cell_filled {
    background-color: black;
}

.normal {
    color: black;
}

.correct {
    color: blue;
}

.incorrect {
    color: red;
    /* background-color: #ffbbbb; */
}

.inactive {
    color: black;
    background-color: black;
}

.highlighted {
    background-color: rgb(255, 231, 93);
}

.number {
    position: absolute;
    color: black;
    top: 0;
    left: 5%;
    user-select: none;
    pointer-events: none;
}